.character {
    /* background-image: url('./starwars.jpg'); */
    background-size: cover;
    color: crimson;
    width: 600px;
    border-radius: 6px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  
  .character h2 {
    font-size: 3rem;
    padding: 20px;
    font-weight: bold;
  }
  
  .character p {
    width: 100%;
    font-size: 2rem;
    padding: 10px;
  }
  
  .list {
    font-size: 2rem;
    padding: 10px;
  }